.project__block {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
}

.block__items {
  grid-column: 2/3;
  text-align: center;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
}

.block__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgb(117, 113, 113);
}

.block__item_img {
  width: 360px;
  height: 320px;
  margin: 20px;
}

@media (max-width: 768px) {
  .block__item_img {
    width: 300px;
    height: 300px;
    margin: 10px 0px;
  }
}

.block__title {
  display: grid;
  text-align: center;
  grid-column: 2/3;
  padding: 12px;
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 800;
}

.block__title_border {
  border-top: 1px solid rgb(150, 150, 150, 0.2);
  border-bottom: 1px solid rgb(150, 150, 150, 0.2);
}