.content{
  display: grid;
  grid-template: 1fr / 1fr minmax(auto,1400px) 1fr;
}

.content__block{
  grid-column: 2/3;
}

.content__title{
  display: grid;
  text-align: center;

  padding: 18px;
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 800;
}

.content__title_border{
  border-top: 1px solid rgb(150, 150, 150,.2);
  border-bottom: 1px solid rgb(150, 150, 150,.2);
}

@media(max-width:768px){
  .content{
    display: grid;
    grid-template: 1fr / 1fr minmax(auto,768px) 1fr;
  }
  
  .content__block{
    grid-column: 2/3;
  }
  
  .content__title{
    display: grid;
    text-align: center;
  
    padding: 18px;
    margin: 20px 0px;
    font-size: 12px;
    font-weight: 800;
  }
  
  .content__title_border{
    border-top: 1px solid rgb(150, 150, 150,.2);
    border-bottom: 1px solid rgb(150, 150, 150,.2);
  }
}
