.header__menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header__items {
  justify-content: end;
}

.header__items_photoRadius img {
  border-radius: 30px;
}

a.header__items_activeLink {
  color: rgb(138, 89, 45);
}

.header__login {
  margin-right: 15px;
}

.header__items:hover {
  color: rgb(145, 90, 8);
}

.header__items_color:hover {
  transform: scale(1.2);
  color: rgb(145, 90, 8);
}

.header__button_color {
  color: rgb(117, 113, 113);
  background-color: rgba(228, 228, 228, 0.9);
  border: none;
  font-size: 16px;
  text-decoration: underline;
}

.header__button_hover:hover{
  color: rgb(138, 89, 45);
}
