.header__menu {
  display: flex;
  text-align: center;
  margin: 0px 40px 0px 0px;
  font-size: 14px;
  overflow: auto;
}

.header__menu a{
  margin: 0px 0px 0px 20px;
}

.header__items {
  justify-content: end;
}

.header__items_photoRadius img {
  border-radius: 30px;
}

a.header__items_activeLink {
  color: rgb(138, 89, 45);
}

.header__items:hover {
  color: rgb(145, 90, 8);
}

.header__items_color:hover {
  transform: scale(1.2);
  color: rgb(145, 90, 8);
}

.header__button_size {
  color: rgb(117, 113, 113);
  border: none;
  font-size: 14px;
  text-decoration: underline;
}

.header__button_hover:hover {
  color: rgb(138, 89, 45);
}

.header__profile {
  width: 30px;
  height: 30px;
}

.header__message {
  height: 30px;
  width: 30px;
}

.header__friends {
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .header__menu{
    display: block;
    margin: 80px 0px 0px 0px;
  }

  .header__menu a{
    display: block;
    margin: 0px 0px 20px 0px;
    font-size: 16px;
  }

  .header__button_size {
    font-size: 16px;
  }
  
}