.wrapper {
  display: inline-table;
  width: 1400px;
  background-color: white;
  color: black;
}

.professionalphoto {
  display: inline-block;
  padding-left: 20px;
  text-align: center;
}

.professionalphoto img {
  width: 190px;
  height: 190px;
  border-radius: 100px;
}

.active{
  font-weight: bold;
} 

.pagin{
  display: inline-table;
  width: 1400px;
}

.pagin span{
  padding-left: 5px;
  display: inline-block;
}

.iconUser{
  padding: 5px;
}

.poginator{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.currentPage{
  text-align: center;
  font-size: 27px;
  font-weight: 900;
}