.button1 {
  text-align: center;
  width: 200px;
  height: 60px;
  color: white;
  font-size: 18px;
}

.button2 {
  margin-left: 30px;
  text-align: center;
  width: 200px;
  height: 60px;
  font-size: 18px;
  color: white;
}

.button3 {
  margin-left: 30px;
  text-align: center;
  width: 200px;
  height: 60px;
  font-size: 18px;
  color: white;
}

.listservice {
  display: inline-table;
  width: auto;
}

.servicesInfo{
  padding: 10px 0 10px 0;

  min-height: 250px;
  text-align: center;
}

.services {
  position: relative;
  display: inline-block;

  border: 1px solid black;
  border-radius: 30px;
  

  vertical-align: middle;
  text-align: center;
  padding: 20px;
  width: 400px;
  margin: 10px;
}

.services img {
  border-radius: 30px;
  opacity: 1.1;
}

.moreInfo {
  margin-top: auto;
}

.moreInfo button {
  font-size: 14px;
  padding: 10px;
  border-radius: 30px;
  border-color: rgb(0, 0, 0);
  color:black;
}

.titleName{
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  padding: 40px 0 40px 0;
  color: black;
}

.priceInfo{
  margin-top: 20px;
}