.block {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
}

.block__items {
  grid-column: 2/3;
  display: grid;
  grid-template:
    1fr / 1fr minmax(auto, 450px) minmax(auto, 450px) minmax(auto, 450px)
    1fr;
  margin-left: auto;
  margin-right: auto;
}

.block__item {
  position: relative;
  text-align: center;
  margin: 0px 0px 20px 5px;
}

.block__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}

.block__item_left {
  grid-column: 2/3;
  padding: 0px 5px;
}

.block__item_centr {
  grid-column: 3/4;
  padding: 0px 5px;
}

.block__item_right {
  grid-column: 4/5;
  padding: 0px 5px;
}

.block__item_top {
  grid-column: 2/3;
  padding: 0px 5px;
}

.block__item_middle {
  grid-column: 3/4;
  padding: 0px 5px;
}

.block__item_bottom {
  grid-column: 4/5;
  padding: 0px 5px;
}

.block__description {
  font-size: 18px;
  padding: 10px;
  /* min-height: 220px; */
}

.block__subtitle {
  font-size: 21px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .block__items {
    position: relative;
    grid-template: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto)  / 1fr;
     
  }

  .block__item {
    margin: 0px;
  }

  .block__item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    opacity: 0.1;
    z-index: -1;
  }

  .block__items .block__item_left {
    text-align: center;
    grid-column: 1/1;
    grid-row: 1/2;
    padding: 0px;
  }

  .block__items .block__item_centr {
    text-align: center;
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 0px;
  }

  .block__items .block__item_right {
    text-align: center;
    grid-column: 1/1;
    grid-row: 3/4;
    padding: 0px;
  }

  .block__items .block__item_top {
    text-align: center;
    grid-column: 1/1;
    grid-row: 4/5;
    padding: 0px;
  }

  .block__items .block__item_middle {
    text-align: center;
    grid-column: 1/1;
    grid-row: 5/6;
    padding: 0px;
  }

  .block__items .block__item_bottom {
    text-align: center;
    grid-column: 1/1;
    grid-row: 6/7;
    padding: 0px;
  }

  .block__description {
    font-size: 11px;
    padding: 0px;
    max-height: 160px;
    max-width: 280px;
  }

  .block__subtitle {
    font-size: 10px;
  }
}
