.friends {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
}

.friends__block {
  grid-column: 2/3;
  text-align: center;
}

.block__title {
  display: grid;
  text-align: center;
  padding: 18px;
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 800;
}

.block__title_border {
  border-top: 1px solid rgb(150, 150, 150, 0.2);
  border-bottom: 1px solid rgb(150, 150, 150, 0.2);
}

.block_item {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .friends {
    display: grid;
    grid-template: 1fr / minmax(auto, 700px) ;
  }

  .friends__block {
    grid-column: 1/2;
    text-align: center;
  }

  .block__title {
    display: grid;
    text-align: center;
    padding: 0px;
    margin: 20px 0px;
    font-size: 12px;
    font-weight: 800;
  }

  .block__title_border {
    border-top: 1px solid rgb(150, 150, 150, 0.2);
    border-bottom: 1px solid rgb(150, 150, 150, 0.2);
  }

  .block_item {
    display: grid;
    grid-template: 1fr / 1fr;
    text-align: center;
    justify-content: center;
  }
}
