.partners {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
}

.partners__block {
  grid-column: 2/3;
  text-align: center;
}

.block__titlePhoto img {
  width: 100%;
}

.block__photos img {
  max-width: 300px;
  padding: 10px;
}