.foot {
    display: grid;

    grid-template-columns: 400px 800px 200px;
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: 4;

    color: white;
    padding: 5px;

    background-image: linear-gradient(to right, rgb(245, 245, 245) 30%, WHITE);
    box-shadow: 2px -4px 4px 0 rgba(245, 245, 245, 0.966) ;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;

    padding-left: 10px;
}

.social {
    grid-column-start: 2;
    grid-column-end: 3;

    text-align: right;
}

.contact {
    grid-column-start: 3;
    grid-column-end: 4;
    
    text-align: right;
    padding-right: 10px;
    color: black;
    padding-top:7px;
    
}

.social img:hover{
    transform:scale(1.2);
}