.wrapper {
  padding: 0;
  margin: 0 auto; /*auto correct*/
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100vh;
  display: grid;
  grid-template-columns: 250px 800px 350px;
  grid-template-rows: auto auto auto;
  grid-row-start: 1;
  grid-row-end: 4;

  font-family: "lucida sans unicode", sans-serif;
}

.wrapper-head {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;

  position: fixed;
  z-index: 2;
  margin-bottom: 10px;
  box-shadow: 2px 4px 8px 0 #676767;
}

.app-wrapper-content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;

  min-height: 900px;
  padding-top: 60px;
}

.wrapper-footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: -1;
  
}
