.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(50px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  font-family: "lucida sans unicode", sans-serif;
}

.header {
  grid-area: header;
  padding: 2px;
  margin-bottom: 50px;
  background-color: rgba(228, 228, 228);
  box-shadow: 2px 4px 8px 0 #cacaca;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.content {
  grid-area: main;
  padding: 20px 15px;
}

.footer {
  grid-area: footer;
}

a {
  text-decoration: none;
  color: rgb(117, 113, 113);
}

@media (max-width: 768px) {
  .wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(50px, auto) 1fr minmax(20px, auto) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  
    font-family: "lucida sans unicode", sans-serif;
  }
  .content {
    grid-area: main;
    padding: 0px;
  }
  .header {
    grid-area: header;
    padding: 0px 0px 2px 0px;
    background-color: rgba(228, 228, 228);
    box-shadow: 2px 4px 20px 0 #cacaca;
  
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
  }
} 
